body{
  margin:0;
}

h1{
  margin-top:0;
}

.top-container{
  background-color: #faf4f4;
}

.middle-container{
  background-color: red;
}

.bottom-container{
  background-color: blue;
}

.square{
  height:200px;
  width:200px;
}

.eng{
  text-decoration: underline;
}
