body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #c060a1;
  margin-top: 0;
  font-size: 70px;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #c060a1;
  font-size: 50px;
  font-family: 'Sacramento', cursive;
}

h3 {
  color: #c060a1;
  font-family: 'Sacramento', cursive;
}

hr {
  border-style: dotted none none;
  border-color: #f0f0f0;
  border-width: 5px;
  width: 5%
}

p {
  font-family: 'Ruda', sans-serif;
  font-size: 20px;
  color: grey;
}

.pro {
  height: 60px;
  width: 60px;
  position: relative;
  right: 40px;
  top: 10px;
}

.row {
  color: #c060a1;
  position: relative;
  bottom: 40px;
}

.para {
  width: 600px;
  position: relative;
  left: 400px;
  right: 400px;
}

.top {
  background-color: #faf4f4;
}

.top-container {
  background-color: #faf4f4;
}

.middle-container {
  margin-top: 50px;
}

.bottom-container {}

.mountain {
  background-color: #faf4f4;
}

.square {
  height: 200px;
  width: 200px;
}

.engine {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
}

.top-cloud {
  position: relative;
  left: 400px;
}

.girl {
  height: 100px;
  width: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  right: 500px;
}

.circular {
  border-radius: 100%;
}